.button {
  --bg-color: var(--color-theme-main);
  border: none;
  background: none;
  width: 100%;
  padding: 1rem 0;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--bg-color);
  font-weight: 700;
}

.black {
  --bg-color: var(--color-text-default);
}

.inverted {
  color: var(--bg-color);
  border: 2px solid var(--bg-color);
  background: none;
}